.DailyForecast .card {
  background-color: transparent;
  border: none;
}
.DailyForecast .card-body {
  padding: 5px;
  text-align: center;
}

.DailyForecast i {
  font-size: 35px;
  padding: 8px;
}
.DailyForecast h6 {
  font-size: 15px;
}
.DailyForecast p {
  font-size: 13px;
  line-height: 10px;
}
